@import '@/styles/variables.scss';

.cardImageContainer {
  aspect-ratio: 1 / 1;
  border: 10px solid $rosey-cheek;
  position: relative;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}
