@import 'normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

fieldset,
legend {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
