// colors
$in-house: #f3ded7;
$rosey-cheek: #dfb2a9;
$bronzed-rose: #b78e80;
$pink-kisses: #e89b93;
$mimi-pink: #ffdae9;
$charcoal: #4c4c4b;
$black: #000000;
$white: #ffffff;
$christmas-silver: #e0e0e0;
$frilled-shark: #959fa8;
$palladium: #b0b0b0;
$shoe-wax: #2b2b2b;
