.cormorant {
	font-family: var(--font-cormorant);
}

.cormorantGaramond {
	font-family: var(--font-cormorant_garamond);
}

.cinzelDecorative{
	font-family: var(--font-cinzel_decorative);
}

.tangerine {
	font-family: var(--font-tangerine);
}
