.container {
  display: flex;
  padding: 70px;
}

.formContainer,
.mapsContainer {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding: 30px 20px;
  }
}
