@import '@/styles/variables.scss';

.navbar {
  font-family: var(--font-cormorant);
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $charcoal;
}

.menuButton {
  display: none;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 23px 6px;
  font-family: var(--font-cormorant);
  font-size: 26px;
  font-weight: 700;
  line-height: 31.49px;
  color: $charcoal;
}

.link {
  position: relative;
}

.isActive::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 120%;
  height: 6px;
  background-color: $pink-kisses;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.banner {
  background-color: $in-house;
  text-align: center;
  padding: 6px;
}

.bannerText {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.75px;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 8px 12px;
    background-color: $in-house;
  }

  .menuButton {
    display: inline-block;
    z-index: 11;
    width: fit-content;
    margin: 0 0 0 auto;
  }

  .banner {
    display: none;
  }

  .list {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: $white;
    z-index: 10;
    flex-direction: column;
    left: -2000px;
    transition: all 0.5s ease-in-out;
    top: 0;
  }

  .isMenuShown {
    left: 0px;
  }
}
