.container {
  position: relative;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  margin-bottom: 23px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.errorText {
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
}
