@import '@/styles/variables.scss';

.inputContainer {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid $christmas-silver;
  font-family: var(--font-cormorant);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.5px;
  padding: 19px 24px;
  color: $charcoal;
  border-radius: 10px;

  &::placeholder {
    color: $frilled-shark;
  }

  &.hasIcon {
    padding-right: 72px;
  }
}

.iconButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;

  border: none;
  background-color: transparent;
}
